.HomeHeader {
	display: block;
	float: left;
	position: relative;
	padding: 15px 0;
	width: 100%;
	&__logo {
		display: block;
		float: left;
		width: 40%;	
		a {
			img {
				width: 100%;
			}
		}
	}
	&__nav {
		width: 60%;
		display: block;
		float: left;
		position: absolute;
		bottom: 15px;
		right: 0;
		ul {
			list-style-type: none;
			float: right;
			li {
				display: inline-block;
				padding: 0 10px;
				margin-left: 50px;
				border-bottom: 1px solid #fff;
				a {
					color: #ad4417;
					font-size: 18px;
					&:hover, &:active, &:focus {
						outline: none;
						text-decoration: none;
					}
				}
				&:hover, &:active, &:focus {
					border-bottom: 1px solid #9a421c;
				}

			}
		}
	}
}

.header {
	display: block;
	margin: 0 auto;
	position: relative;
	background-color: #fff;	
	width: 1167px + 20px;
	margin: 0 auto;
	height: 75px;
	padding: 0 160px;
	z-index: 9;	
	-webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 5px 10px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 5px 10px 0px rgba(50, 50, 50, 0.75);
	&:before,
	&:after{		
		display: table;
  		content: " ";
	}
	&:after{
		clear: both;
	}
}