.banner {
	display: block;
	position: relative;
	width: 100%;
	float: left;
	height: 505px;
	background-image: url("../img/baner.png");
	background-position: 50% 0;
	background-size: contain;
	background-repeat: no-repeat;
	&__content {
		width: 480px;
		display: block;
		float: right;
		padding-top: 150px;
		padding-right: 35px;
		h2 {
			font-size: 37px;
			color: #fff;
			text-align: right;
			text-transform: uppercase;
			font-family: $r;
		}
		p {
			font-size: 17px;
			color: #fff;
			text-align: right;
		}
	}
	&__nav {
		display: block;
		width: 100%;
		height: 65px;
		background-color: #b49375;
		position: absolute;
		bottom: 0;
		font-family: $r;
		ul {
			padding: 0;
			margin: 25px 0;
			list-style-type: none;
			li {
				display: inline-block;
				padding: 0 9px;
				border-left: 1px solid #fff;
				&:first-child {
					border: none;
				}
				a {
					text-transform: uppercase;
					font-size: 13px;
					color: #fff;
				}
			}
		}
	}
}

.about {
	display: block;
	position: relative;
	float: left;
	padding: 60px 0 40px;
	h2 {
		font-family: $r;
		text-align: center;		
		color: #3f4144;
		font-size: 24px;
		text-transform: uppercase;	
		margin-bottom: 30px;	
		span {
			padding-bottom: 5px;
			border-bottom: 2px solid #ce9f62;
		}
	}
	p {
		text-align: center;
		font-size: 18px;
		color: #282828;
	}
}

.we {
	display: block;
	position: relative;
	float: left;
	padding: 25px 0;
	width: 100%;
	h3 {
		text-align: center;
		font-size: 18px;
		color: #282828;
	}
	&__small {
		display: block;
		float: left;
		position: relative;
		width: 79px;
		height: 62px;
		border: 1px solid #b39375;
	}

	&__large {
		display: block;
		float: left;
		position: relative;
		width: 251px;
		height: 181px;
		border: 1px solid #b39375;
	}
}